.meteo-TemperatureCard {
	display: flex;
	align-items: baseline;
	padding: 5rem;
	border-radius: 1px;
	background: rgba(255, 255, 255, 0.4);
	box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
	backdrop-filter: blur(6px);
	-webkit-backdrop-filter: blur(8px);
	color: #000000;
}

.meteo-TemperatureCard-degrees {
	font-size: 8rem;
}

.meteo-TemperatureCard-decimals {
	font-size: 4rem;
}

.meteo-TemperatureCard-units {
	font-size: 4rem;
	margin-left: 0.5rem;
}
