body {
	font-family: Roboto, sans-serif;
	margin: 0;
	padding: 0;
	min-height: 100vh;
	display: flex;
	flex-direction: column;
}

.wrapper {
	display: flex;
	align-items: center;
	justify-content: center;
	flex: 1;
	background-image: linear-gradient(120deg, #fccb90 0%, #d57eeb 100%);
}
